{% extends 'base.html' %}
{% block title %}Add Post{% endblock%}
{% block content %}
<div class="container">
<header class="header text-center text-info p-3 mb-2">
    <h1>Create User Post for {{ user.full_name }} </h1>
</header>
  <form class="users" action="/users/{{user.id}}/posts/new" method="POST">
    <div class="d-grid gap-3">
        <div class="form-group p-2 bg-light border">
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="Post Title">
        </div>
        <div class="form-group p-2 bg-light border">
          <label for="content">Content</label>
          <textarea type="text-area" name="content" cols="55" rows="10" placeholder="Write your text"></textarea>
        </div>
        <div>
          {% for tag in tags %}
            <input type="checkbox" name="tags" id="tag_{{tag.id}}" value="{{tag.id}}"> 
            <label for="tag_{{tag.id}}">{{tag.name}}</label>
          {% endfor %} 
      </div>
        <button type="submit" class="btn btn-outline-info">Add Post</button>
        <button type="submit" class="btn btn-outline-danger" formmethod="GET" formaction="/users/{{user.id}}"> Cancel </button>
    </div>
  </form>
</div>

{% endblock %}