{% extends 'base.html' %}
{% block title %} User Detail Page {{user.id}} {% endblock%}
{% block content %}
<header class="header">
  <h1 class="m-4 text-info">User Profile</h1>
</header>
  <div class="row">
    <div class="col-sm-2 col-6">
     {% if user.image_url %}
        <img src="{{ user.image_url }}" alt="{{ user.full_name }}" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-sm-10 col-12">
      <h1> {{user.full_name}} </h1>
      <h3>ID: {{user.id}}</h3>
      <h3> <blockquote>
      {{user.greet()}}
      </blockquote> </h3>
    <form>
      <button class="btn btn-warning btn-m" formaction="/users/{{ user.id }}/edit" formmethod="GET"> Edit </button>
      <button class="btn btn-danger btn-m" formaction="/users/{{ user.id }}/delete" formmethod="POST"> Delete </button>
    </form>
  <!-- <div class="posts-list"> -->
    <h3 class="p-4">Posts</h3>
    <ul class="ul">
        {% for post in user.posts %}
        <li class="user-names"><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <form class="btn-box">
        <button class="btn btn-warning btn-m" formaction="/users/{{ user.id }}/posts/new" formmethod="GET">Add My Post</button>
    </form>
    <!-- </div> -->
    </div>
   
<a href="/users">Go Back</a>
{% endblock %}