{% extends 'base.html' %}
{% block title %} Users {% endblock%}
{% block content %}
<div class="users">
 <div class="text-left">
<header class="header">
  <h2 class="text-info p-3 mb-2">Users</h2>    
</header>
<ul class="list-group list-group-flush">
    {% for user in users %}
    <li class="list-group-item list-group-item-info"><a class="text-secondary" href="/users/{{user.id}}"> {{user.full_name}} </a></li>
    {% endfor %}
  </ul>
</div>
    <div class="p-3 mb-1">
    <button type="submit" class="btn btn-info"> <a class="text-secondary" href="/users/new"> Add New User </a></button>
    <button type="submit" class="btn btn-outline-secondary"> <a class= "text-warning" href="/">Users Posts</a></button>
  </div>
  </div>
{% endblock %}
 